body {
  overflow-x: hidden;
}

p {
  font-family: 'gotham_bookregular', sans-serif !important;
}

body {
  font-family: 'gotham_bookregular', sans-serif !important;
}

.bg-header {
  padding: 0;
  position: relative;

  img {
    content: url("../resources/images/background/CoverTileDesktop_desktop.jpg");
    z-index: -1;
    position: absolute;
    width: 100%;
    //height: auto;
  }

  .back-img {
    content: url("../resources/images/background/CoverTileDesktop_desktop.jpg");
    z-index: -1;
    //position: absolute;
    width: 100%;
    //height: auto;
  }

  .cnt-btn {
    position: absolute;
    left: 40%;
    top: 50%;
    width: 25%;
    overflow: hidden;
    //word-wrap: break-word;
    white-space: initial;
  }

  @media (max-device-width: 768px) {
    .back-img {
      content: url("../resources/images/background/CoverTileDesktop_mobile.jpg");
    }

    .cnt-btn {
      left: 25%;
      width: 50%;
    }
  }

  @media screen and (max-width: 851px) {
    .back-img {
      content: url("../resources/images/background/CoverTileDesktop_mobile.jpg");
    }

    .cnt-btn {
      left: 25%;
      width: 50%;
    }

    .img-logo {
      content: url("../resources/images/Sim_logo.png");
      position: absolute;
      width: 105% !important;

      top: 0;
    }
  }

  @media screen and (max-width: 451px) {
    .img-logo {
      content: url("../resources/images/Sim_logo.png");
      width: 105% !important;
    }
  }

  .btn-cont {
    top: 50%
  }

  .img-logo {
    content: url("../resources/images/Sim_logo.png");
    position: absolute;
    width: 55%;
    top: 0px;
  }

  @media (max-device-width: 768px) {
    .img-logo {
      content: url("../resources/images/Sim_logo.png");
      position: absolute;
      width: 95%;
    }
  }

  @media screen and (max-width: 981px) {
    /** IMG _ LOGO WAS HERE **/
  }
}

.bg-header .sim-logo {
  background: url("../resources/images/Sim_logo.png");
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 388px;
}

.bg-header .product-header {
  background: url("../resources/images/productHeader/ProductHeaderDesktop_desktop.jpg");
  height: 270px;

  background-size: 980px 60px;
}

.bg-product .container2 {
  margin-top: 60px;
}

.bg-product {
  background-color: #101A24;

  .container2 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .product {
    text-align: center;

    h1 {
      color: white;
      font-size: 70px;
    }

    h2 {
      color: white;
      font-size: 54px;
    }
  }
}

.bg-product2 {
  background-color: #D2D8E3;

  @media (max-device-width: 768px) {
    .header-text {
      h4 {
        font-size: 40px;
      }

      h3 {
        font-size: 55px !important;
      }
    }
    .price {
      margin-top: 100px !important;
    }

    .features {
      margin-top: 80px !important;
    }

    p {
      font-size: 40px;
      margin-top: 30px;
    }

    h2 {
      font-size: 105px;
    }

    .img1 {
      background: url("../resources/images/talk.png") no-repeat;
      padding-left: 110px !important;
      padding-top: 90px !important;
      background-size: 110px 90px !important;
    }

    .img2 {
      background: url("../resources/images/data.png") no-repeat;
      padding-left: 120px !important;
      padding-top: 100px !important;
      background-size: 120px 100px !important;
    }
  }

  .price {
    margin-top: 40px;
  }

  .product-container-holder {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 15px;
    background-color: #d2d8e3;
  }

  .product-content {
    position: relative;
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 25px;
  }

  .product {
    position: relative;
    display: inline-block;
    width: 300px;
    height: auto;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    border-top: 12px solid #dedede;
    min-height: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
  }

  .prod {
    display: inline-block;
    position: relative;
    height: auto;
    width: 300px;
    background-color: #fff;
    border-top: 12px solid #dedede;
    border-radius: 5px;

    padding: 20px 23px;

    .prodTitle {
      max-height: 51px;
      position: relative;
      height: auto;
      width: 100%;
      min-height: 51px;
      text-align: center;

      .header-text {
        position: relative;
        display: inline-block;
        margin-left: 12px;
        width: auto;
        text-align: left;
      }

      .header-img-talk {
        padding-top: 40px;
        position: relative;
        vertical-align: top;
        display: inline-block;
      }

      .img1 {
        background: url("../resources/images/talk.png");
        width: 44px;
        height: 51px;
      }

      .img2 {
        background: url("../resources/images/data.png");
        width: 47px;
        height: 51px;
      }
    }
  }

  @media (max-device-width: 768px) {
    .prod {
      display: inline-block;
      position: relative;
      //height: auto;
      width: 800px;
      height: 1050px;
      background-color: #fff;
      border-top: 12px solid #dedede;
      border-radius: 5px;

      font-size: 30px;

      padding: 20px 23px;
      //opacity: 0;
    }
  }
}

.bg-location {
  background-color: #404042;

  .center-block {
    float: none !important;
  }

  .cont-block {
    width: 185px;
    height: 145px;
    border: 2px solid #FFF;
    border-radius: 20px;
    color: #FFF;
  }

  @media (min-width: 768px) {
    .cont-block {
      width: 185px;
      height: 145px;
    }

    .left-col {
      margin-right: 0 !important;
    }

    .right-col {
      margin-left: 0 !important;
    }
  }

  @media (min-width: 992px) {
    .cont-block {
      width: 155px;
      height: 140px;
    }
  }

  @media (min-width: 1200px) {
    .cont-block {
      width: 180px;
      height: 145px;
    }
  }

  @media (max-device-width: 768px) {
    .cont-block {
      width: 355px;
      height: 285px;
    }
  }

  .cont1 {
    background: url("../resources/images/1_2EU_en.png");
    width: 588px;
    height: 236px;
  }
  .cont2 {
    background: url("../resources/images/3_4EU_en.png");
    width: 588px;
    height: 236px;
  }
}

.bg-phone {
  background: url("../resources/images/Pebblebackground_desktop.jpg");
  background-size: cover;

  height: 470px;

  .btn-group-phone {
    padding-top: 125px;
  }
}

.bg-loyalty {
  background-color: #0F1A24;
  height: 470px;
  //padding-left: 70px;
  //padding-right: 70px;
  margin-right: -15px;
  color: white;

  .btn-cont {
    padding-top: 18px;
  }

  h1 {
    color: white;
  }
}

.bg-bottom {
  background-color: #000000;

  color: white;

  p > a {
    color: white;
  }

  .header-link {
    font-weight: bold;
    font-size: 15px;
  }

  .row {
    padding: 15px 15px 0 15px;
  }

  p {
    margin-bottom: 4px;
  }

  .help-info {
    padding-left: 15px !important;
  }

  .help-info > p {
    margin-bottom: 0;
  }

  .marg-bottm {
    margin-bottom: 18px !important;
  }
}

.row > .col-md-6 {
  padding: 0;
}

